:root {
    --light-green: rgb(88, 197, 93);
    --dark-green: rgb(14, 58, 16);
    --orange: rgb(201, 85, 51);
    --silver: rgb(179, 171, 164);
    --yellow: rgb(234, 152, 24);

}

body {
    background-color: var(--dark-green);
}

.app-container {
    background-color: var(--silver);
    margin: 5rem;
    border-radius: 10px;
    box-shadow: -0.8rem 0.8rem var(--yellow);
}

@media (min-width: 990px) {
    .app-container {
        max-width: 70%;
        float: right;
    }
}