.duck-directory__container {
    max-width: 100%;
    padding-bottom: 1rem;
}

.duck-directory__duck {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 2rem 0;
}

@media (max-width: 989px) {
    .duck-directory__duck {
        justify-content: center;
    }
}

.duck-directory__duck .duck__img {
    max-width: 15rem;
    height: auto;
}

.duck-directory__duck .duck__stats {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 15rem;
}

@media (min-width: 990px) {
    .duck-directory__duck .duck__stats {
        max-width: 40%;
        padding: 1rem;
    }
}

.duck-directory__duck .duck__stats * {
    margin-bottom: 0.2rem;
}

.duck-directory__duck .duck__common-name {
    font-size: 2rem;
    line-height: 1;
    font-family: 'Henny-Penny';
    margin-bottom: 0.5rem;
    /* color: var(--light-green); */
}

@media (min-width: 990px) {
    .duck-directory__duck .duck__common-name {
        font-size: 2.5rem;
    }
}

.duck__stats .duck__stats--underline {
    text-decoration: underline;
    text-decoration-color: var(--light-green);
    text-decoration-thickness: 0.1rem;
    text-decoration-skip-ink: none;
}

.duck-directory__duck .duck__status {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 0.3rem;
    text-decoration-skip-ink: none;
}

@media (max-width: 989px) {
    .duck-directory__duck .duck__status {
        text-align: center;
    }
}

.duck-directory__duck .duck__bio {
    display: none;
    white-space: break-spaces;
}

@media (max-width: 989px) {
    .duck-directory__duck .duck__bio {
        font-size: 0.95rem;
        margin: 0 1rem;
    }
}

.duck__bio .duck__threats {
    margin-top: 1.2rem;
}

.duck-directory__duck button {
    margin: 0 auto 1.5rem auto;
}

@media (min-width: 990px) {
    .duck-directory__duck button {
        margin: 0 3rem 0 auto;
    }
}