.app-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2rem;
    max-width: 50rem;
    margin: 0 auto;
}

.app-header img {
    width: 70%;
    /* max-height: auto; */
}

@media (min-width: 750px) {
    .app-header img {
        width: 40%;
    }
}

.app-header h1 {
    line-height: 1;
    text-align: center;
    margin: 2rem 0 0 0;
}

@media (min-width: 750px) {
    .app-header h1 {
        width: 55%;
        padding-left: 1rem;
    }
}

.app-header span {
    font-size: 5rem;
}