/* .hit-counter__container {
    height: 2rem;
    width: 2rem;
}

.powr-hit-counter {
    height: 2rem;
    width: 2rem;
} */

/* #hit-counter__container .counterElement {
    width: 1rem;
    height: 1rem;
    font-size: 10px;
} */