
.app-container .info__container {
    width: 100%;
}

.info__container .button__toggle-info-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    font-family: 'Henny-Penny';
    font-weight: bolder;
    font-size: 2.5rem;
    line-height: 1.5;
    border: solid 0.2rem var(--dark-green);
    border-radius: 50%;
    background-color: var(--light-green);
    cursor: pointer;
    z-index: 2;
}

.info__container .button__toggle-info-modal:hover {
    color: var(--yellow);
}

.app-container .info__modal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem 0.2rem 0.2rem 0.2rem;
    overflow-y: scroll;
    background-color: var(--silver);
    border-bottom: solid 0.5rem var(--light-green);
    border-left: solid 0.5rem var(--light-green);
}

@media (min-width: 990px) {
    .app-container .info__modal {
        /* max-width: 80%; */
        padding: 5rem 2rem 2rem 2rem;

    }
}

.info__modal .modal__bio {
    font-size: 1rem;
    white-space: break-spaces;
    max-width: 80%;
}

@media (min-width: 990px) {
    .info__modal .modal__bio {
        max-width: 60%;
    }
}

.info__modal img {
    max-width: 20rem;
}