
.app__container .info__container {
    width: 100%;
}

.info__container .button__toggle-info-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 3.5rem;
    max-height: 3.5rem;
    width: 3.5rem;
    max-width: 3.5rem;
    font-family: 'Henny-Penny';
    font-weight: bolder;
    font-size: 2.5rem;
    line-height: 1.5;
    border: solid 0.2rem var(--dark-green);
    border-radius: 50%;
    background-color: var(--light-green);
    cursor: pointer;
    z-index: 2;
}

@media (min-width: 990px) {
    .info__container .button__toggle-info-modal.modal--open {
        right: 2.3rem;
    }
}

.info__container .button__toggle-info-modal:hover {
    color: var(--yellow);
}

.info__container .info__modal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5rem 0.2rem 0.2rem 0.2rem;
    overflow-y: scroll;
    background-color: var(--silver);
    border-bottom: solid 0.5rem var(--light-green);
    border-left: solid 0.5rem var(--light-green);
}

@media (max-width: 749px) {
    .info__container .info__modal {
        padding-top: 6rem;
    }
}

@media (min-width: 750px) {
    .app__container .info__modal {
        /* max-width: 80%; */
        padding: 5rem 2rem 2rem 2rem;

    }
}

.info__modal .modal__assets-sections-container
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* justify-content: center; */
    /* margin-top: 9rem; */
}

@media (min-width: 750px) {
    .info__modal .modal__assets-sections-container
 {
        flex-direction: row;
        align-items: flex-start;
        /* border-right: solid 0.3rem var(--orange); */
        margin: 0;
        /* min-width: 80%; */
        width: 100%;
    }
}

.modal__assets-sections-container
 .modal__sections {
    border: solid 0.3rem var(--orange);
    border-radius: 5px;
    width: 85%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 750px) {
    .modal__assets-sections-container
 .modal__sections {
        /* max-width: 60%; */
        /* min-width: 60%; */
        border: none;
        align-items: flex-start;
    }
}

.modal__sections .modal__section-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* margin-bottom: 1rem; */
    margin: 0 auto 1rem auto;
}

.modal__sections .button__toggle-info {
    margin-bottom: 1rem;
}

.modal__sections .info-section {
    display: none;
    font-size: 0.95rem;
    white-space: break-spaces;
}

@media (min-width: 750px) {
    .modal__sections .info-section {
        font-size: 1rem;
    }
}

.modal__sections .info-section {
    overflow-wrap: anywhere;
}

.modal__assets-sections-container .modal__assets {
    display: flex;
    flex-flow: column;
}

.modal__assets-sections-container .modal__assets img {
    max-width: 20rem;
    margin-right: 1rem;
}

@media (max-width: 750px) {
    .modal__assets-sections-container .modal__assets img {
        width: 80%;
        margin-bottom: 1rem;
    }
}

.modal__assets .assets__external-links {
    display: flex;
    flex-direction: row;
    margin: 0.5rem auto 0 auto;
}

.modal__assets .asset__external-link img {
    width: 2rem;
}