.quiz {
    padding: 1rem;
}

@media (min-width: 750px) {
    .quiz {
        padding: 2rem;
    }
}

.quiz__item {
    margin-bottom: 2.5rem;
}

.quiz__question {
    padding: 0.5rem 0;
    font-size: 1.1rem;
    /* margin-bottom: 1rem; */
    line-height: 1.2;
    border-top: 0.4rem solid var(--orange);
    border-bottom: 0.3rem solid var(--orange);
    /* border-left: 0.3rem solid var(--orange); */
}

@media (min-width: 750px) {
    .quiz__question {
        font-size: 1.3rem;
    }
}

.quiz__answers-container {
    padding: 0.5rem;
    border-right: 0.3rem solid var(--orange);
    border-bottom: 0.3rem solid var(--orange);
}

.quiz__answer {
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    line-height: 1.2;
}

@media (max-width: 749px) {
    .quiz__answer {
        font-size: 0.9rem;
    }
}

input[type="radio"] {
    appearance: none;
    margin-right: 0.5rem;
}

input[type="radio"]::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    background-color: var(--dark-green);
}

input[type="radio"]:hover::before {
    transition: background-color 300ms;
    background-color: var(--yellow);
}

input[type="radio"]:checked::before {
    background-color: var(--yellow);
    background-image: url("../assets/ducks/general-imagery/duck_side_radio_icon.png");
    background-repeat: round;
}